@{
    ViewBag.Title = "Info Entries";
}

@*
@foreach (var info in ViewBag.Infos as List<IptoFlag.Info>)
{
    <p> @info.IP </p>
}
*@

@* 
@using (Html.BeginForm())
{   
    <p>Country: @Html.DropDownList("IdCountry", "All")  
    <input type="submit" value="Filter" /></p>
}
*@

<table id="grid">
    <thead>
    <tr>
        <th>
            ID Info
        </th>
        <th>
            Country Name
        </th>
        <th>
            Information
        </th>
        <th>
            IP
        </th>
        <th>
            Location
        </th>
        <th>
            Date
        </th>
    </tr>
    </thead>

@foreach (var info in ViewBag.Infos as List<IptoFlag.Info>)
{
    <tbody>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => info.IdInfo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => info.Countries.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => info.InfoCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => info.IP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => info.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => info.Date)
        </td>
    </tr>
    </tbody>
}

</table>

<script>
  $(document).ready(function(){
      $("#grid").kendoGrid({
          dataSource: {
              transport: {
                  read: {
                      url: "GlobeEntity.edmx"
                  }
              },
              schema: {
                  data: "data",
                  total: "count"
              },
              pageSize: 2
          },
          pageable: true,
          sortable: true,
          scrollable: false
      });
  });
</script>